<!DOCTYPE html>
<html>
<head>
  <title>OembedProvider</title>
  <%= stylesheet_link_tag    "oembed_provider/application", :media => "all" %>
  <%= javascript_include_tag "oembed_provider/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
